{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="box">
    <div class="portrait">
        <p>Gracias por tu apoyo</p>
        <img class="img2" src="{% static 'myapp/perfilconfondo.png' %}">
    </div>
    <div class="portrait">
        <form action="https://youtu.be/skflWOllC-k">
        <input class="button" type="submit" value="Ver video" onclick="trackOutboundLink('https://youtu.be/skflWOllC-k'); return false;">
        </form>
        <p>Mira esta charla imperdible que tuvimos con Camilo Romero</p>
</div>
</div>
{% endblock %}