{% extends 'myapp/base.html' %}
{% block content %}
<div class="box">
    <div class="portrait">
        <p>Únete al equipo de Camilo Romero</p>
        <img src="https://www.elespectador.com/resizer/YLfT4Fv7ixntnsrj4skIQ0fbFnU=/657x0/cloudfront-us-east-1.images.arcpublishing.com/elespectador/J43WGEK2VRBPPC5KDU35ZMBIRM.jpg">
</div>
    <div class="registerform">
    <p>Regístrate</p>
        <form method="POST"> {% csrf_token %}
    {{ form.name }}
    <br><br>
    {{ form.email }}
    <br><br>
    {{ form.whatsapp_number }}
    <br><br>
    {{ form.department }}
    <br><br>
    {{ form.city }}
    <p>
    <input class="button" type="submit" value="Enviar">
    </p>
        </form>
</div>
</div>
{% endblock %}